/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */

h2 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;

}

seg1 {
  font-size: 40px;
  font-weight: bold;
  font-family:"Playfair Display", Times, serif;

}

 /* Header */

header {
    text-align: center;
  }
  

/* Containers */

.container {
  display:inline-block;
  text-align: center;
  text-decoration: none;
}

#portfolio {
  display: flex;
  flex-direction: row;
}

div {

  background-color: #eae2b7;
  margin: auto;
  width: 600px;

}

#art {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 150px;
  padding: 10px;

}

text {
 font-size: 20px;

}


ul {
  flex: align center left 10px;
}


#about {
padding: 50px 0;
display: inline-flex;
flex-direction:row;
}

article div {
 /* flex:auto;*/
  width: 100%;

}

/* Paragraphs */
p {
  line-height: 1.5;
  vertical-align: center;
}

/* Links */

a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}


nav a {
padding-left: 20px
}

/* Images */

img {
  width: 100%;
  max-width: 300px;
  height:auto;
}


.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  align-items: horizontal;

}

/*Contact */
#contact {
  text-align: center;
}

#list {
  display: inline-block;
  
  
  
}

#items {
  text-align: center;
  
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
